<html>
    <head>
        <title>Add Comment</title>
    </head>

    <body>
        <form action="/add_comment" method="post">
            <input type="text" name="postid" placeholder="Post-id"></br>            
            <input type="text" name="uname" placeholder="User-Nmae"></br>
            <input type="text" name="city" placeholder="City"></br>
            <input type="text" name="content" placeholder="Content"></br>
            <input type="submit" value="Update">
        </form>
    </body>
</html>
