<html>
    <head>
        <title>Add Activity</title>
    </head>

    <body>
        <form action="/add_activity" method="post">
            <input type="text" name="uname" placeholder="User-Nmae"></br>
            <input type="text" name="city" placeholder="City"></br>
            <input type="text" name="content" placeholder="Content"></br>
            <input type="text" name="s1" placeholder="S1"></br>
            <input type="text" name="s2" placeholder="S2"></br>
            <input type="text" name="s3" placeholder="S3"></br>
            <input type="submit" value="Update">
        </form>
    </body>
</html>
